version: '3.8'
services:
  postgresdb:
    image: postgres:16  # <--- Pinning this version guarantees the path below works
    container_name: LMS-database-container
    environment:
      POSTGRES_DB: lms
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: